/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* COLORS ///////////////////////////////////////////////////// */
:root {
  --classic-double-blue-1: #12232e;
  --classic-double-blue-2: #203647;
  --classic-double-blue-3: #007cc7;
  --classic-double-blue-4: #4da8da;
  --classic-double-blue-5: #eefbfb;
  --blue-chrome-1: #0b1634;
  --blue-chrome-1-opaque: rgb(11, 22, 52, 0.7);
  --blue-chrome-2: #0e2650;
  --blue-chrome-2-opaque: rgb(14, 38, 80, 0.7);
  --blue-chrome-3: #266c9d;
  --blue-chrome-3-opaque: rgb(38, 108, 157, 0.7);
  --blue-chrome-4: #74d2d4;
  --blue-chrome-4-opaque: rgb(116, 210, 212, 0.7);
  --blue-chrome-5: #e2dcd4;
  --blue-chrome-5-opaque: rgb(226, 220, 212, 0.3);
  --blue-chrome-6: #fff;
  --blue-chrome-6-opaque: rgb(255, 255, 255, 0.7);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* [FLIP BOX] : SIZE : SPACING : BLUR : ANIMATION DURATION : BACKGROUND : TEXT COLOR */
:root {
  --rotating-square-size: 150px;
  --rotating-square-gap: 10px;
  --backdrop-filter: blur(3px);
  --animation-duration: 7s;

  /* FLIP BOX # 1 */
  --flip-box-1-background-image: url(./assets/vrheadset.jpg) 50%/100% var(--blue-chrome-2-opaque);
  --flip-box-1-text: var(--blue-chrome-6);

  /* FLIP BOX # 2 */
  --flip-box-2-background-image: url(./assets/vrheadset.jpg) 50%/100% var(--blue-chrome-3-opaque);
  --flip-box-2-text: var(--blue-chrome-4);

  /* FLIP BOX # 3 */
  --flip-box-3-background-image: url(./assets/vrheadset.jpg) 50%/100% var(--blue-chrome-4-opaque);
  --flip-box-3-text: var(--blue-chrome-2);

  /* FLIP BOX # 4 */
  --flip-box-4-background-image: url(./assets/vrheadset.jpg) 50%/100% var(--blue-chrome-2-opaque);
  --flip-box-4-text: var(--blue-chrome-6);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* MAIN IMAGE FLIP STYLING //////////////////////////////////// */
.image-flip-section {
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* gap: var(--rotating-square-gap); */
}

.image-flip-row {
  width: fit-content;
  display: flex;
  /* gap: var(--rotating-square-gap); */
}

.image-flip-container {
  width: var(--rotating-square-size);
  height: var(--rotating-square-size);
  position: relative;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  perspective-origin: 50%;
}

.image-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.image-flip-contact-arrow {
  position: absolute;
  top: 30px;
  z-index: 8888;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  animation: image-flip-contact-arrow 15s ease-in-out infinite;
}
@keyframes image-flip-contact-arrow {
  75% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.image-flip-container:nth-child(2) .image-flip-contact-arrow {
  animation: image-flip-contact-arrow-2 15s ease-in-out infinite;
}
@keyframes image-flip-contact-arrow-2 {
  55% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 0;
  }
}

.image-flip-contact-arrow .arrow-line {
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background: aqua;
  position: absolute;
  filter: drop-shadow(0 -1px 2px aqua);
}

.image-flip-contact-arrow .arrow-line:nth-child(1) {
  right: -3px;
  transform: rotate(35deg);
}
.image-flip-contact-arrow .arrow-line:nth-child(2) {
  left: -3px;
  transform: rotate(-35deg);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* IMAGE FLIP SIDE POSITIONING //////////////////////////////// */
.image-flip .side {
  width: 100%;
  height: 100%;
  position: absolute;
  font: 300 20px sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-chrome-5);
  backdrop-filter: var(--backdrop-filter);
  backface-visibility: hidden;
}

.image-flip .front {
  font: 700 20px sans-serif;
  text-decoration: underline;
  color: white;
  transform: translateZ(5px);
  border-radius: 5px;
}

.image-flip-row:nth-child(2) .front {
  text-decoration: overline;
}

.image-flip .back {
  transform: translateZ(-5px) rotateX(180deg);
  border-radius: 2px;
  text-decoration: underline;
  opacity: var(--background-image-opacity);
}

.image-flip .left,
.image-flip .right {
  width: 10px;
  left: -5px;
  transform: rotateY(90deg);
  display: none;
}

.image-flip .right {
  left: calc(100% - 5px);
}

.image-flip .top,
.image-flip .bottom {
  width: 95%;
  height: 10px;
  top: -5px;
  transform: rotateX(90deg) translateX(4px);
  background: var(--blue-chrome-6-opaque);
}

.image-flip .bottom {
  top: calc(100% - 5px);
  transform: rotateX(-90deg) translateX(4px);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* BACKGROUND IMAGES & ANIMATIONS ///////////////////////////// */

/* BOX #1 /////////////////////////////////////////////////// */
/* BACKGROUND IMAGE */
.image-flip-row:nth-child(1) .image-flip-container:nth-child(1) .front,
.image-flip-row:nth-child(1) .image-flip-container:nth-child(1) .back {
  background: var(--flip-box-1-background-image);
  backdrop-filter: var(--backdrop-filter);
  color: var(--flip-box-1-text);
}

.image-flip-row:nth-child(1) .image-flip-container:nth-child(1) .front:hover {
  color: aqua;
}

/* Z-INDEX CHANGE ANIMATION */
.image-flip-row:nth-child(1) .image-flip-container:nth-child(1) {
  animation: z-index-change-1 var(--animation-duration) ease-in-out infinite;
}
@keyframes z-index-change-1 {
  30% {
    z-index: 8;
  }
  45% {
    z-index: 88;
  }
  100% {
    z-index: 8;
  }
}

/* FLIP ANIMATION */
.image-flip-row:nth-child(1) .image-flip-container:nth-child(1) .image-flip {
  animation: image-flip-1 var(--animation-duration) ease-in-out infinite;
}
@keyframes image-flip-1 {
  30% {
    transform: rotateX(0deg);
  }
  45% {
    transform: rotateX(720deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}

/* BOX #2 //////////////////////////////////////////////////////////// */
/* BACKGROUND IMAGE */
.image-flip-row:nth-child(1) .image-flip-container:nth-child(2) .front,
.image-flip-row:nth-child(1) .image-flip-container:nth-child(2) .back {
  background: var(--flip-box-2-background-image);
  color: var(--flip-box-2-text);
}

.image-flip-row:nth-child(1) .image-flip-container:nth-child(2) .front:hover {
  color: aqua;
}

/* FLIP ANIMATION */
.image-flip-row:nth-child(1) .image-flip-container:nth-child(2) .image-flip {
  animation: image-flip-2 var(--animation-duration) ease-in-out infinite;
}
@keyframes image-flip-2 {
  15% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(720deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}

/* BOX #3 ////////////////////////////////////////// */
/* BACKGROUND IMAGE */
.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) .front,
.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) .back {
  background: var(--flip-box-3-background-image);
  color: var(--flip-box-3-text);
}

.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) .front:hover {
  color: aqua;
}

.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) .back {
  text-decoration: overline;
}

/* Z-INDEX CHANGE ANIMATION */
.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) {
  animation: z-index-change-2 var(--animation-duration) ease-in-out infinite;
}
@keyframes z-index-change-2 {
  0% {
    z-index: 8;
  }
  15% {
    z-index: 88;
  }
  30% {
    z-index: 8;
  }
}

/* FLIP ANIMATION */
.image-flip-row:nth-child(2) .image-flip-container:nth-child(1) .image-flip {
  animation: image-flip-3 var(--animation-duration) ease-in-out infinite;
}
@keyframes image-flip-3 {
  15% {
    transform: rotateX(720deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}

/* BOX #4 ///////////////////////////////////////////// */
/* BACKGROUND IMAGE */
.image-flip-row:nth-child(2) .image-flip-container:nth-child(2) .front,
.image-flip-row:nth-child(2) .image-flip-container:nth-child(2) .back {
  background: var(--flip-box-4-background-image);
  color: var(--flip-box-4-text);
}

.image-flip-row:nth-child(2) .image-flip-container:nth-child(2) .front:hover {
  color: aqua;
}

.image-flip-row:nth-child(2) .image-flip-container:nth-child(2) .back {
  text-decoration: overline;
}

/* FLIP ANIMATION */
.image-flip-row:nth-child(2) .image-flip-container:nth-child(2) .image-flip {
  animation: image-flip-4 var(--animation-duration) ease-in-out infinite;
}
@keyframes image-flip-4 {
  45% {
    transform: rotateX(0deg);
  }
  60% {
    transform: rotateX(720deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}

.image-flip .front:hover {
  color: aqua;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* SMALL SCREEN SIZE BACKDROP FILTER CHANGE /////////////////// */
@media (max-width: 700px) {
  .image-flip .side {
    backdrop-filter: none;
  }
}
