/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* FONTS ////////////////////////////////////////////////////// */
@font-face {
  font-family: Aseline;
  src: url(../fonts/Aseline.ttf);
}
@font-face {
  font-family: Everleigh;
  src: url(../fonts/Everleigh.otf);
}
@font-face {
  font-family: Neonsign;
  src: url(../fonts/NeonsignRegular.ttf);
}
@font-face {
  font-family: Razor Blade;
  src: url(../fonts/RazorBlade.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.testing-container {
  width: 100%;
  aspect-ratio: 4/3;
  background: var(--blue-chrome-1);
  padding: 20px;
  display: flex;
}

.testing {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(221, 221, 221) 87%, white 93%, lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-computer {
  width: 80%;
  height: 70%;
  background: linear-gradient(135deg, rgb(218, 218, 218) 50%, white 50%, rgb(220, 220, 220));
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  position: relative;
}

.responsive-computer::before {
  content: "";
  width: 20%;
  height: 10%;
  background: linear-gradient(to right, rgb(197, 197, 197), rgb(213, 213, 213), rgb(197, 197, 197));
  box-shadow: 0 0 4rem 0.1rem rgb(0, 0, 0, 0.4);
  position: absolute;
  bottom: -10%;
  left: 40%;
}

.responsive-computer::after {
  content: "";
  width: 40%;
  height: 3%;
  background: linear-gradient(to right, white, rgb(213, 213, 213), white);
  /* box-shadow: 0 -0.1rem 4rem 0.6rem rgb(0, 0, 0, 0.4); */
  filter: drop-shadow(0 0 2rem black);
  position: absolute;
  bottom: -12%;
  left: 30%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.responsive-image {
  width: 96%;
  height: 92%;
  border-radius: 0.3rem;
  background: url(/images/ck-logo02.png) 0 0 / 100% 120%;
  position: absolute;
  top: 2%;
  left: 2%;
}
.responsive-image::after {
  content: "";
  width: 4%;
  height: 4%;
  border-radius: 3rem;
  background: white;
  box-shadow: inset -0.1rem 0.1rem 0.2rem rgb(78, 78, 78, 0.4);
  position: absolute;
  bottom: -5%;
  left: 48%;
}
.responsive-phone {
  width: 20%;
  height: 60%;
  background: linear-gradient(135deg, rgb(218, 218, 218) 30%, white 30%, rgb(220, 220, 220));
  box-shadow: -0.2rem 0.2rem 3rem rgb(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  position: absolute;
  right: -10%;
  bottom: -10%;
}
.responsive-phone::before {
  content: "";
  width: 96%;
  height: 90%;
  border-radius: 0.2rem;
  background: url(/images/ck-logo02.png) 0 0 / 100% 50%;
  position: absolute;
  top: 2%;
  left: 2%;
}
.responsive-phone::after {
  content: "";
  width: 12%;
  height: 5%;
  border-radius: 3rem;
  background: white;
  box-shadow: inset -0.1rem 0.1rem 0.2rem rgb(78, 78, 78, 0.4);
  position: absolute;
  bottom: 2%;
  left: 44%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* VARIABLES ////////////////////////////////////////////////// */
:root {
  /* VARIOUS BLUES //////////////// */
  --galaxy-blue: #000044;
  --scotch-blue: #000077;
  --navy-blue: #000080;
  --dark-blue: #00008b;
  --medium-blue: #0000cd;
  --interstellar-blue: #001155;
  --cetacean-blue: #001440;
  --maastricht-blue: #001c3d;

  /* CLASSIC DOUBLE BLUE /////////////// */
  --classic-double-blue-1: #12232e;
  --classic-double-blue-2: #203647;
  --classic-double-blue-3: #007cc7;
  --classic-double-blue-4: #4da8da;
  --classic-double-blue-5: #eefbfb;

  /* BLUE CHROME ////////////////////// */
  --blue-chrome-1: #0b1634;
  --blue-chrome-2: #0e2650;
  --blue-chrome-3: #266c9d;
  --blue-chrome-4: #74d2d4;
  --blue-chrome-5: #e2dcd4;

  /* PINK /////////////////////////////// */
  --pink-theme-1: #ff597b;
  --pink-theme-2: #ff8e9e;
  --pink-theme-3: #f9b5d0;
  --pink-theme-2-1: #ff597b;
  --pink-theme-2-2: #ff8e9e;
  --pink-theme-2-3: #f9b5d0;
  --pink-theme-2-4: #f9b5d0;
  --dark-hot-pink: #d90166;
  --pink-test: #ff0077;
  --heading-drop-shadow: drop-shadow(-3px 1px 1px var(--blue-chrome-1));
  --text-drop-shadow: drop-shadow(-2px 1px 1px var(--blue-chrome-3));
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* GLOBAL STYLING ///////////////////////////////////////////// */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--blue-chrome-1);
}

section,
footer {
  position: relative;
  z-index: 2;
}

.landing-background,
.footer-background {
  width: 100%;
  aspect-ratio: 1920/1080;
  background: url(/images/body-bg.jpg) 0 0 / 100%;
  position: fixed;
  z-index: 1;
}

.footer-background {
  background: url(/images/body-bg.jpg) 0 0 / 100%;
  bottom: 0;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* CONTACT OVERLAY //////////////////////////////////////////// */
.contact-overlay-container {
  width: 100%;
  height: 100%;
  background: rgb(11, 22, 52, 0.9);
  position: fixed;
  top: -100%;
  z-index: 88888;
  overflow-y: auto;
  transition: all 500ms ease;
}

.contact-overlay-container.open {
  top: 0;
  transition: all 1s ease;
}

.contact-overlay {
  height: fit-content;
  min-height: 100%;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-overlay.footer {
  background: rgb(11, 22, 52, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.btn-close-contact-overlay-container {
  padding: 20px;
}

.btn-close-contact-overlay {
  min-width: 60px;
  min-height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 3px -3px 5px 1px rgb(255, 255, 255, 0.05), inset -3px 3px 5px 1px rgb(255, 255, 255, 0.08), inset 3px -3px 5px 1px rgb(0, 0, 0, 0.2), -3px 3px 5px 1px rgb(0, 0, 0, 0.12);
  cursor: pointer;
}
.btn-close-contact-overlay .btn-bars {
  width: 45%;
  height: 3px;
  position: absolute;
}
.btn-close-contact-overlay .btn-bars::before,
.btn-close-contact-overlay .btn-bars::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0.5);
  position: absolute;
  transform: rotate(45deg);
}
.btn-close-contact-overlay .btn-bars::after {
  transform: rotate(-45deg);
}

.btn-close-contact-overlay-arrow {
  min-width: 80px;
  height: 50px;
  box-shadow: inset 0 4px 5px 1px rgb(0, 0, 0, 0.4);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  /* bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}

.btn-close-contact-overlay-arrow .btn-arrow-line {
  width: 30px;
  height: 2px;
  background: rgb(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 10px;
}
.btn-close-contact-overlay-arrow .btn-arrow-line:nth-child(1) {
  left: 12px;
  transform: rotate(-30deg);
}
.btn-close-contact-overlay-arrow .btn-arrow-line:nth-child(2) {
  right: 12px;
  transform: rotate(30deg);
}

.contact-wrapper {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 30px;
  backdrop-filter: blur(7px);
  box-shadow: inset 4px -4px 8px 1px rgb(255, 255, 255, 0.08), inset -4px 4px 10px 2px rgb(0, 0, 0, 0.5);
}
.contact {
  height: fit-content;
  width: 100%;
  box-shadow: 3px -4px 8px 1px rgb(255, 255, 255, 0.08), -3px 4px 10px 2px rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-height: 500px) {
  .contact-overlay {
    padding-top: 0;
  }
  .btn-close-contact-overlay {
    display: none;
  }
  .contact-wrapper {
    margin: 5px auto;
  }
  .contact {
    flex-direction: row;
  }
}
@media (max-width: 700px) {
  .contact {
    background: var(--blue-chrome-1);
  }
}
.contact p {
  padding: 10px;
  color: white;
}
.btn-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-contact-link {
  width: 60px;
  height: 60px;
  background: var(--blue-chrome-1) center / 50% no-repeat;
  box-shadow: 1px -2px 5px 1px rgb(255, 255, 255, 0.1), -4px 4px 5px 1px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: white;
}

.btn-contact-link.github {
  background-image: url(/icons/github-brands-white.svg);
}

.btn-contact-link.linkedin {
  background-image: url(/icons/linkedin-brands-white.svg);
}

.btn-contact-link.email {
  background-image: url(/icons/envelope-solid-white.svg);
}

.btn-contact-link.facebook {
  background-image: url(/icons/facebook-white.svg);
}

.btn-contact-link.resume {
  background-image: url(/icons/file-pdf-solid-white.svg);
}

.btn-contact-link.facebook-2 {
  background-image: url(/icons/square-facebook-white.svg);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* SCROLL TO TOP BUTTON /////////////////////////////////////// */
#to-top-btn {
  width: 80px;
  height: 50px;
  border-top: 1px solid white;
  position: fixed;
  bottom: -60px;
  left: 0;
  right: 0;
  z-index: 888;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 300ms ease-in-out;
  cursor: pointer;
}

#to-top-btn:hover {
  background: rgb(116, 210, 212, 0.7);
}

#to-top-btn.open {
  bottom: 0;
}

.to-top-btn-bars {
  width: 38px;
  height: 2px;
  position: relative;
  top: -5px;
}

.to-top-btn-bars::before,
.to-top-btn-bars::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

.to-top-btn-bars::before {
  left: -15px;
  transform: rotate(-35deg);
}

.to-top-btn-bars::after {
  left: 15px;
  transform: rotate(35deg);
}
@media (max-width: 700px) {
  #to-top-btn {
    width: 50px;
    height: 30px;
  }
  #to-top-btn:hover {
    background: none;
  }
  .to-top-btn-bars {
    width: 18px;
    height: 2px;
    position: relative;
    top: -5px;
  }
  .to-top-btn-bars::before {
    left: -7px;
    transform: rotate(-35deg);
  }

  .to-top-btn-bars::after {
    left: 7px;
    transform: rotate(35deg);
  }
}
