/* FONTS */
@font-face {
  font-family: Aseline;
  src: url(../fonts/Aseline.ttf);
}
@font-face {
  font-family: Everleigh;
  src: url(../fonts/Everleigh.otf);
}
@font-face {
  font-family: Neonsign;
  src: url(../fonts/NeonsignRegular.ttf);
}
@font-face {
  font-family: Razor Blade;
  src: url(../fonts/RazorBlade.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* VARIABLES */
:root {
  --classic-double-blue-1: #12232e;
  --classic-double-blue-2: #203647;
  --classic-double-blue-3: #007cc7;
  --classic-double-blue-4: #4da8da;
  --classic-double-blue-5: #eefbfb;
  --blue-chrome-1: #0b1634;
  --blue-chrome-2: #0e2650;
  --blue-chrome-3: #266c9d;
  --blue-chrome-4: #74d2d4;
  --blue-chrome-5: #e2dcd4;
  --pink-theme-1: #ff597b;
  --pink-theme-2: #ff8e9e;
  --pink-theme-3: #f9b5d0;
  --pink-theme-2-1: #ff597b;
  --pink-theme-2-2: #ff8e9e;
  --pink-theme-2-3: #f9b5d0;
  --pink-theme-2-4: #f9b5d0;
  --dark-hot-pink: #d90166;
  --pink-test: #ff0077;
  --heading-drop-shadow: drop-shadow(-3px 1px 1px var(--blue-chrome-1));
  --text-drop-shadow: drop-shadow(-2px 1px 1px var(--blue-chrome-3));
}

/* GENERAL STYLING */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue-chrome-1);
}

section,
footer {
  position: relative;
  z-index: 2;
}

.landing-background,
.footer-background {
  width: 100%;
  aspect-ratio: 1920/1080;
  background: url(/images/body-bg.jpg) 0 0 / 100%;
  position: fixed;
  z-index: 1;
}

.footer-background {
  background: url(/images/body-bg.jpg) 0 0 / 100%;
  bottom: 0;
}

/* CONTACT OVERLAY ////////////////////////////////////////////////// */
.contact-overlay-container {
  width: 100%;
  height: 100%;
  background: rgb(11, 22, 52, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  top: -100%;
  z-index: 8888;
  overflow-y: auto;
  transition: all 1s ease;
}

.contact-overlay-container.open {
  top: 0;
}

.contact-overlay {
  height: fit-content;
  min-height: 100%;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-overlay.footer {
  background: rgb(11, 22, 52, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.btn-close-contact-overlay {
  min-width: 70px;
  min-height: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: -3px 3px 5px 1px rgb(0, 0, 0, 0.5), inset -3px 3px 5px 1px rgb(255, 255, 255, 0.3), inset 4px -4px 5px 1px rgb(0, 0, 0, 0.4);
  cursor: pointer;
}
.btn-close-contact-overlay .btn-bars {
  width: 70%;
  height: 7px;
  position: absolute;
}
.btn-close-contact-overlay .btn-bars::before,
.btn-close-contact-overlay .btn-bars::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0.5);
  position: absolute;
  transform: rotate(45deg);
}
.btn-close-contact-overlay .btn-bars::after {
  transform: rotate(-45deg);
}

.btn-close-contact-overlay-arrow {
  width: 80px;
  height: 50px;
  box-shadow: inset 0 10px 5px 1px rgb(0, 0, 0, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}

.btn-close-contact-overlay-arrow .btn-arrow-line {
  width: 40px;
  height: 2px;
  background: white;
  position: absolute;
  border-radius: 10px;
}
.btn-close-contact-overlay-arrow .btn-arrow-line:nth-child(1) {
  left: 3px;
  transform: rotate(-30deg);
}
.btn-close-contact-overlay-arrow .btn-arrow-line:nth-child(2) {
  right: 3px;
  transform: rotate(30deg);
}

.contact-wrapper {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: inset 4px -4px 10px 1px rgb(255, 255, 255, 0.1), inset -4px 4px 10px 2px rgb(0, 0, 0, 0.9);
}
#contact {
  height: fit-content;
  width: 100%;
  box-shadow: 4px -4px 10px 1px rgb(255, 255, 255, 0.2), -4px 4px 10px 2px rgb(0, 0, 0, 0.9);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact p {
  padding: 10px;
  color: white;
}
.btn-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-contact-link {
  width: 60px;
  height: 60px;
  box-shadow: 1px -2px 5px 1px rgb(255, 255, 255, 0.1), -4px 4px 5px 1px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  background: center / 50% no-repeat;
}

.btn-contact-link.github {
  background-image: url(/icons/github-brands.svg);
}
.btn-contact-link.linkedin {
  background-image: url(/icons/linkedin-brands.svg);
}
.btn-contact-link.email {
  background-image: url(/icons/envelope-solid.svg);
}

/* SCROLL TO TOP BUTTON ///////////////////////////////////////////////////////////////// */
#to-top-btn {
  width: 80px;
  height: 50px;
  border-top: 1px solid white;
  position: fixed;
  bottom: -60px;
  left: 0;
  right: 0;
  z-index: 888;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 300ms ease-in-out;
}

#to-top-btn:hover {
  background: rgb(116, 210, 212, 0.7);
}

#to-top-btn.open {
  bottom: 0;
}

.to-top-btn-bars {
  width: 38px;
  height: 2px;
  position: relative;
  top: -5px;
}

.to-top-btn-bars::before,
.to-top-btn-bars::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

.to-top-btn-bars::before {
  left: -15px;
  transform: rotate(-35deg);
}

.to-top-btn-bars::after {
  left: 15px;
  transform: rotate(35deg);
}
@media (max-width: 700px) {
  #to-top-btn {
    width: 50px;
    height: 30px;
  }
  #to-top-btn:hover {
    background: none;
  }
  .to-top-btn-bars {
    width: 18px;
    height: 2px;
    position: relative;
    top: -5px;
  }
  .to-top-btn-bars::before {
    left: -7px;
    transform: rotate(-35deg);
  }

  .to-top-btn-bars::after {
    left: 7px;
    transform: rotate(35deg);
  }
}

/* MAIN PAGE HEADER /////////////////////////////////////////////////////////////////////////////// */
header {
  background: rgb(11, 22, 52, 0.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 888;
  box-shadow: 0 2px 5px 2px rgb(0, 0, 0, 0.3);
}

.top-header {
  max-width: 1200px;
  min-height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.top-header .side {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  width: 50px;
  height: 50px;
  margin: 15px;
  background: radial-gradient(circle at 55% 45%, white 20%, aqua);
  /* !!! FOR SOME REASON I COULDN'T GET 'BORDER-BOX' TO WORK BELOW... HAD TO USE PSEUDO ELEMENT BELOW TO ACHIEVE PROPER BORDER AND ELEMENT POSITION FOR THE LOGO */
  /* border-left: 7px solid var(--classic-double-blue-3); */
  /* box-sizing: border-box; */
  border-radius: 50%;
  box-shadow: 0 0 20px 5px white;
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
}

.logo-container::after {
  content: "";
  width: 50px;
  height: 50px;
  border-left: solid 7px var(--blue-chrome-3);
  border-radius: 50%;
}

@media (max-width: 700px) {
  .logo-container {
    margin: 5px;
  }
}

.logo {
  background: var(--blue-chrome-3);
  width: 3px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
}
.logo:nth-child(1) {
  height: 48px;
}
.logo:nth-child(2) {
  transform: rotate(45deg);
}
.logo:nth-child(3) {
  transform: rotate(135deg);
}

.site-title {
  height: fit-content;
  padding: 5px 10px;
  font: 600 25px Neonsign;
  color: aqua;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, aqua, var(--blue-chrome-3));
  filter: drop-shadow(5px 1px 1px var(--blue-chrome-3));
}

.site-title-sub {
  height: fit-content;
  margin: 0 5px;
  padding: 5px 10px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 5px;
  font: 500 30px Raleway;
  color: white;
  filter: drop-shadow(-5px 1px 1px var(--blue-chrome-3));
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* NAVIGATION MENU BUTTON STYLING ////////////////////////////////////////////////////////// */
.btn-nav-menu {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.btn-nav-menu .bars,
.btn-nav-menu .bars::before,
.btn-nav-menu .bars::after {
  background: aqua;
  /* box-shadow: 0 0 3px 1px white; */
  /* filter: drop-shadow(0 0 2px white); */
  width: calc(100% - 10px);
  height: 3px;
  border-radius: 3px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.btn-nav-menu .bars::before,
.btn-nav-menu .bars::after {
  content: "";
  width: 100%;
  transform: translateY(-8px);
}

.btn-nav-menu .bars::after {
  transform: translateY(8px);
}

.btn-nav-menu.open .bars {
  background: transparent;
  box-shadow: none;
}

.btn-nav-menu.open .bars::before {
  transform: rotate(45deg);
  background: var(--pink-test);
}

.btn-nav-menu.open .bars::after {
  transform: rotate(-45deg);
  background: var(--pink-test);
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* NAVIGATION MENU ////////////////////////////////////////////////////////// */
.nav-menu {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  position: relative;
  overflow-y: auto;
}

.nav-menu .link {
  width: calc(100% - 40px);
  max-width: 800px;
  height: 70px;
  margin: 20px auto;
  background: radial-gradient(aqua, transparent);
  box-shadow: inset -4px 4px 7px 1px rgb(255, 255, 255, 0.3), inset 4px -4px 7px 1px rgb(0, 0, 0, 0.4), -1px 2px 7px 1px rgb(0, 0, 0, 0.4);
  /* -webkit-backdrop-filter: blur(3px); */
  /* backdrop-filter: blur(3px); */
  border-radius: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 20px Raleway;
  color: white;
  text-decoration: none;
  transition: all 500ms ease-in-out;
  position: absolute;
  top: -100vh;
}
@media (max-width: 700px) {
  .nav-menu.open {
    height: calc(100vh - 100px);
    justify-content: space-around;
  }
}
/* @media (max-height:400px) {
  .nav-menu.open{
    height: fit-content;
    position: fixed;
    top: 0px;
    justify-content: space-around;
  }
} */
.nav-menu .link:nth-child(1) {
  transition: all 800ms ease-in-out;
}
.nav-menu .link:nth-child(2) {
  transition: all 700ms ease-in-out;
}
.nav-menu .link:nth-child(3) {
  transition: all 600ms ease-in-out;
}
.nav-menu .link:nth-child(4) {
  transition: all 500ms ease-in-out;
}
.nav-menu.open .link {
  top: 0;
}

.nav-menu .link:hover {
  background: rgb(0, 255, 255, 0.5);
}

.nav-menu.open .link {
  position: relative;
}

.link-text {
  filter: drop-shadow(-2px 1px 1px black);
  position: relative;
  top: 50px;
  transition: all 500ms ease-in-out 200ms;
}
.nav-menu.open .link-text {
  top: 0;
}
@media (max-width: 700px) {
  .nav-menu .link {
    max-width: 200px;
    height: 50px;
    min-height: 50px;
  }
  .nav-menu .link:nth-child(1) {
    transition: none;
  }
  .nav-menu .link:nth-child(2) {
    transition: none;
  }
  .nav-menu .link:nth-child(3) {
    transition: none;
  }
  .nav-menu .link:nth-child(4) {
    transition: none;
  }
}
