/* FONTS /////////////////////////////// */

@font-face {
  font-family: Neonsign;
  src: url(/fonts/NeonsignRegular.otf);
}

.landing-background,
.footer-background {
  background: url(/images/body-bg.jpg) 0 0 / 100%;
}

.button-contact-link.github {
  background-image: url(/icons/github-brands-white.svg);
}

.button-contact-link.linkedin {
  background-image: url(/icons/linkedin-brands-white.svg);
}

.button-contact-link.email {
  background-image: url(/icons/envelope-solid-white.svg);
}

.button-contact-link.facebook {
  background-image: url(/icons/facebook-white.svg);
}

.button-contact-link.resume {
  background-image: url(/icons/file-pdf-solid-white.svg);
}

.button-contact-link.facebook-2 {
  background-image: url(/icons/square-facebook-white.svg);
}

.responsive-image {
  background: url(/images/javascriptive-pc.png) 0 0 / 100% 100%;
}

.responsive-phone::before {
  background: url(/images/javascriptive-phone.png) 0 0 / 100% 100%;
}

.content-row.row-2 .responsive-image {
  background: url(/images//virtual-epoch-pc.png) 0 0 / 100% 100%;
}

.content-row.row-2 .responsive-phone::before {
  background: url(/images//virtual-epoch-phone.png) 0 0 / 100% 100%;
}

.content-row.row-3 .responsive-image {
  background: url(/images/gogetterz-pc.png) 0 0 / 100% 100%;
}

.content-row.row-3 .responsive-phone::before {
  background: url(/images/gogetterz-phone.png\) 0 0 / 100% 100%;
}

.column-image {
  background: url(/images/ck-logo.png) 0 0 / 100% 100%;
}
