@font-face {
  font-family: Aseline;
  src: url(./fonts/Aseline.ttf);
}
@font-face {
  font-family: Everleigh;
  src: url(./fonts/Everleigh.otf);
}
@font-face {
  font-family: Neonsign;
  src: url(./fonts/NeonsignRegular.ttf);
}
@font-face {
  font-family: Razor Blade;
  src: url(./fonts/RazorBlade.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --classic-double-blue-1: #12232e;
  --classic-double-blue-2: #203647;
  --classic-double-blue-3: #007cc7;
  --classic-double-blue-4: #4da8da;
  --classic-double-blue-5: #eefbfb;
  --blue-chrome-1: #0b1634;
  --blue-chrome-2: #0e2650;
  --blue-chrome-3: #266c9d;
  --blue-chrome-4: #74d2d4;
  --blue-chrome-5: #e2dcd4;
  --text-drop-shadow: drop-shadow(-2px 1px 1px var(--blue-chrome-3));
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue-chrome-1);
}

#to-top-btn {
  width: 50px;
  height: 50px;
  background: rgb(116, 210, 212, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  position: fixed;
  bottom: -60px;
  left: 0;
  right: 0;
  z-index: 888;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 300ms ease-in-out;
}
#to-top-btn.open {
  bottom: 10px;
}
.to-top-btn-bars {
  width: 28px;
  height: 3px;
  position: relative;
}
.to-top-btn-bars::before,
.to-top-btn-bars::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  position: absolute;
}
.to-top-btn-bars::before {
  left: -9px;
  transform: rotate(-45deg);
}
.to-top-btn-bars::after {
  left: 9px;
  transform: rotate(45deg);
}
.landing-background {
  width: 100vw;
  aspect-ratio: 1920/1080;
  background: url(./assets/body-bg.jpg) 0 0 / 100%;
  position: fixed;
  z-index: -1;
}

header {
  background: rgb(11, 22, 52, 0.7);
  backdrop-filter: blur(3px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 888;
  box-shadow: 0 2px 5px 2px rgb(0, 0, 0, 0.3);
}

.top-header {
  max-width: 1200px;
  min-height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.top-header .side {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  width: 50px;
  height: 50px;
  background: radial-gradient(at 70% 30%, white, aqua);
  border-left: 8px solid var(--classic-double-blue-4);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo,
.logo::before,
.logo::after {
  background: var(--classic-double-blue-4);
  width: 55px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-3px) rotate(90deg);
}

.logo::before,
.logo::after {
  content: "";
  width: 25px;
  height: 3px;
  transform-origin: 100% 100%;
  transform: rotate(45deg);
}

.logo::after {
  transform: rotate(135deg);
}

.site-title {
  height: fit-content;
  margin: 0 5px;
  padding: 5px 10px;
  font: 600 25px Neonsign;
  color: aqua;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, aqua, var(--blue-chrome-3));
  filter: drop-shadow(5px 1px 1px var(--blue-chrome-3));
}

.site-title-sub {
  height: fit-content;
  margin: 0 5px;
  padding: 5px 10px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 5px;
  font: 500 30px Raleway;
  color: white;
  filter: drop-shadow(-5px 1px 1px var(--blue-chrome-3));
}

/* NAVIGATION MENU BUTTON STYLING ///////////////////////// */
.btn-nav-menu {
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.btn-nav-menu .bars,
.btn-nav-menu .bars::before,
.btn-nav-menu .bars::after {
  background: aqua;
  /* box-shadow: 0 0 20px 1px white; */
  filter: drop-shadow(0 0 7px white);
  width: calc(100% - 10px);
  height: 3px;
  border-radius: 3px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.btn-nav-menu .bars::before,
.btn-nav-menu .bars::after {
  content: "";
  width: 100%;
  transform: translateY(-8px);
}

.btn-nav-menu .bars::after {
  transform: translateY(8px);
}

.btn-nav-menu.open .bars {
  background: transparent;
}

.btn-nav-menu.open .bars::before {
  transform: rotate(45deg);
}

.btn-nav-menu.open .bars::after {
  transform: rotate(-45deg);
}

/* NAVIGATION MENU ///////////////// */
.nav-menu {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu .link {
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
  color: white;
}

.nav-menu.open .link {
  height: 70px;
}
