/* MAIN PAGE CONTENT /////////////////// */
.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  
  .main-content .link {
    text-decoration: none;
  }
  
  /* TOP PAGE HEADING */
  .heading {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero-section {
    width: 100%;
    min-width: 300px;
    color: white;
    font: 500 15px Raleway;
    padding: 20px;
    flex: 1;
  }
  
  .hero-heading {
    padding: 20px 0;
    font: 600 30px Neonsign;
    color: aqua;
    filter: drop-shadow(-2px 2px 1px var(--blue-chrome-3));
  }
  .hero-content #name {
    color: aqua;
    filter: var(--text-drop-shadow);
  }
  .hero-content #title {
    color: var( --pink-test);
    filter: var(--text-drop-shadow);
  }
  .word-tricks {
    color: white;
  }
  .letter-r {
    color: var(--blue-chrome-4);
    filter: var(--text-drop-shadow);
  }
  .projects,
  .contact {
    color: var(--blue-chrome-4);
    filter: var(--text-drop-shadow);
  }
  .projects:hover,
  .contact:hover {
    color: aqua;
  }
  
  /* PAGE CONTENT */
  .content-row {
    background: var(--blue-chrome-2);
    color: var(--blue-chrome-4);
    padding: 20px;
    display: flex;
    gap: 10px;
  }

  .content-row.row-2{
    background: var(--blue-chrome-4);
    color: var(--blue-chrome-3);
  }

  .content-row.row-3{
    background: var(--blue-chrome-5);
    color: var(--blue-chrome-3);
  }

  .content-row .column{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  @media (max-width:700px) {
    .content-row{
      flex-direction: column;
    }
    .content-row .column{
      width: 100%;
    }
  }

  .content-row .image{
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  .content-heading {
    font: 600 25px Neonsign;
    padding: 10px 0;
  }
  .content-content {
    font: 600 20px Raleway;
    padding: 10px 0;
    /* position: relative; */
  }
  
  .content-2 {
    background: var(--blue-chrome-4);
    color: var(--blue-chrome-1);
  }
  .content-3 {
    background: var(--blue-chrome-5);
    color: var(--blue-chrome-4);
  }
  .content-3 .content-heading,
  .content-3 .content-content {
    filter: drop-shadow(-2px 2px 0 var(--blue-chrome-3));
  }
  